
@font-face {
font-family: 'Anne';
font-style: normal;
src: local('font_anne.ttf'), url(assets/fonts/font_anne.ttf) format('truetype');
}
@font-face {
font-family: 'Double';
font-style: normal;
src: local('Double.otf'), url(assets/fonts/Double.ttf) format('truetype');
}

@font-face {
font-family: 'Mini';
font-style: normal;
src: local('Minipax-Regular.otf'), url(assets/fonts/Minipax-Regular.otf) format('opentype');
}

body {
  margin: 0;
  font-family: Roboto !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: black !important;
  overflow: hidden; /*  Disable scrollbars */
    display: block;  /* Nodownloaded github project but project is not displaying yarn run floating content on sides */
    width: 100%;
     height: 100%;
     margin: 0px;
     border: 0;

}
li {
  font-size: 1em !important;
  font-family: Work !important;
list-style-type: square;
display: flow-root;
text-align:left;
padding:.1em;

}
h1{
  font-family: Mini  !important;
}
p{
  font-size: 1em !important;
  font-family: Roboto !important;
}
img {
  max-width: 100%;
  object-fit:cover;
  @media max-width 768 {
    object-fit:none;
    
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }
img{
  width:100%;
  height:50%;
  object-fit:cover;
  margin: auto ,
}

a {
color:white !important;
}
.container {


}
.react-player {
  position: absolute;
top:0;
bottom:0;
padding-bottom: 1em;

};
